In [12]:
def sum1(a, b):
    print("sum of a and b is", a+b)
sum1(10,20)

sum of a and b is 30

In [14]:
def sum1(a, b):
    print("sum of a and b is", a+b)
sum1(10)

TypeError: sum1() missing 1 required positional argument: 'b'

In [16]:
def sum1(a, b = 50):
    print("sum of a and b is" , a+b)
sum1(10)

sum of a and b is 60

In [18]:
def sum(a=50, b):
    print("sum of no", a+b)
sum(20)

SyntaxError: parameter without a default follows parameter with a default (1909094084.py, line 1)

In [20]:
def sum(a, b=50):
    print("sum of no", a+b)
sum(20)

sum of no 70

In [22]:
def sum(a=50, b):
    print("sum of no", a+b)
sum(20,50)

SyntaxError: parameter without a default follows parameter with a default (1897745588.py, line 1)

In [33]:
def sum1(a=50, b=50):
    print("sum of no", a+b)
sum(10)

sum of no 60

In [35]:
def sum1(a=50, b=50, c):
    print("sum of no", a+b)
sum(20)

SyntaxError: parameter without a default follows parameter with a default (2189030886.py, line 1)

In [49]:
def sum1(a, b):
    print("sum of no", a+b)
sum1(10, "hello")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [47]:
def sum1(a, b):
    print("hello")
#     print("sum of a and b is", a+b)
sum1(10, "hello")

hello

In [45]:
c,d = 10, 20
def sum1(a, b):
    print("sum of number", c+d)
#     print("sum of a and b is" , a+b)

sum1(c,d)

sum of number 30

In [51]:
def sum1(a, b, c):
    print("sum of number", a+b+c)
#     print("sum of a and b is", a+b)

sum1(c=20, a=10, b=50)

sum of number 80

In [56]:
def sum1(*a):
    print(a)
    for x in a:
        print(x)
sum1("hello", "red", 1, 2, 3)

('hello', 'red', 1, 2, 3)
hello
red
1
2
3

In [80]:
n=int(input("enter the number"))
list[]
def sum1(*a):
    print(a)
    for x in a:
        print(x)
sum1()

SyntaxError: invalid syntax (4218003559.py, line 2)

In [1]:
def sum1(*a):
    print(a, type(a))
sum1(10,20,30,40,50)

(10, 20, 30, 40, 50) <class 'tuple'>

In [3]:
def sum1(*a):
    print(a, type(a))
b = [10,20,30,40,50]
sum1(b)

([10, 20, 30, 40, 50],) <class 'tuple'>

In [5]:
def sum1(*a):
    print(a, type(a))
    for x in a:
        print(x)
b = [10,20,30,40,50]
sum1(b)

([10, 20, 30, 40, 50],) <class 'tuple'>
[10, 20, 30, 40, 50]

In [9]:
def sum1(*a):
    print(a, type(a))
    for x in a:
        for y in x:
            print(y)
        print(x)
b = [10,20,30,40,50]
sum1(b)

([10, 20, 30, 40, 50],) <class 'tuple'>
10
20
30
40
50
[10, 20, 30, 40, 50]

In [11]:
def sum1(**a):
    print(a, type(a))
    for key,value in a.items():
        print(key, " ",value)
sum1(first_name= "Ram", last_name="Kumar")

{'first_name': 'Ram', 'last_name': 'Kumar'} <class 'dict'>
first_name   Ram
last_name   Kumar

In [15]:
def sum1(**a):
    print(a, type(a))
    for key,value in a.items():
        print(key, " ",value)
sum1(10,20,30,40)

TypeError: sum1() takes 0 positional arguments but 4 were given

In [19]:
def sum1(a, b, c):
    print("sum of number", a+b+c)
#     print("sum of a and b is", a+b)

sum1(c=20, a=10, b=50)
x = sum1(c=20, a=10, b=50)
print(x, type(x))

sum of number 80
sum of number 80
None <class 'NoneType'>

In [29]:
def sum1():
    print("hello")
a=20
b=30
print(a)
print(b)
sum1()
b=sum1()
print(b)

20
30
hello
hello
None

In [35]:
def sum1():
    print("hello")
    return "hi"
    print("hello")
a=20
b=30
print(a)
print(b)
sum1()
b=sum1()
print(b)

20
30
hello
hello
hi

In [37]:
def sum1():
    print("Ram")
    print("Sham")
sum1()

Ram
Sham

In [57]:
def sum1():
    print("Ram")
    print("Sham")
    return "Kumar"
sum1()

Ram
Sham

'Kumar'

In [45]:
def sum1():
    print("Ram")
    print("Sham")
    return "Kumar"
    print("xyz")
sum1()

Ram
Sham

'Kumar'

In [53]:
def sum1():
    print("Ram")
    print("Sham")
    return "Kumar"
    print("xyz")
sum1()
b=sum1()
print(b)

Ram
Sham
Ram
Sham
Kumar

In [61]:
def sum1():
    a==20, b==30
    print("Ram")
    print("Sham")
    return "Kumar"
    print("xyz")
sum1()

Ram
Sham

'Kumar'

In [65]:
def sum1():
    print("hello")
def sum2():
    print("hi")
    return "Kumar"
print("Singh")

Singh

In [81]:
def sum1():
    print("hello")
def sum2():
    print("hi")
    return "Kumar"
print("Singh")
sum1()
sum2()

Singh
hello
hi

'Kumar'

In [83]:
def sum1():
    print("hello")
def sum2():
    print("hi")
    return "Kumar"
print("Singh")
sum1()
sum2()
a=sum1()
print(a)
c=sum2()
print(c)

Singh
hello
hi
hello
None
hi
Kumar

In [3]:
def factorial (n):
    if n==0 or n==1:
        return 1
    else: 
        return n* factorial(n-1)
factorial(5)

120

In [7]:
def factorial(n):
    if n==0 or n==1:
        return 1
    else: 
        return n* factorial(n-1)
factorial(4)

24

In [43]:
def fibonacci (n):
    if n==0 or n==1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)
for i in range(10):
    print (fibonacci(i))

0
1
1
2
3
5
8
13
21
34

In [72]:
def sum1(n):
    if n==0 or n==1:
        return n
    else:
        return sum1(n-1) + sum1(n-2)

n=int(input("enter the number of elements in fibonacci series"))
for i in range(0,n):
    print(sum1(i))

enter the number of elements in fibonacci series 5

0
1
1
2
3

In [86]:
def sum1(n):
    if n==0 or n==1:
        return n
    else:
        return sum1(n-1) + sum1(n-2)

n=int(input("enter the number of elements in fibonacci series"))
for i in range(0,n):
    print(sum1(i))

enter the number of elements in fibonacci series 10

0
1
1
2
3
5
8
13
21
34

In [92]:
def sum1(n):
    if n==0 or n==1:
        return n
    else:
        return sum1(n-1) + sum1(n-2)

n=int(input("enter the number of elements in fibonacci series"))
if n>0:
    for i in range(0,n):
          print(sum1(i))
  
else:
    print("error")

enter the number of elements in fibonacci series -1

error

In [1]:
def sum1():
    print("hello")
    yield "hii1"
    yield "hii2"
    yield "hii3"
sum1()

In [3]:
def sum1():
    print("hello")
    yield "hii1"
    yield "hii2"
    yield "hii3"
x=sum1()
print(x)
for y in x:
    print (y)

<generator object sum1 at 0x00000143751D7880>
hello
hii1
hii2
hii3

In [5]:
def sum1():
    print("hello")
    yield "hii1"
    yield "hii2"
    yield "hii3"
sum1()
print(range(1,10))

range(1, 10)

In [9]:
def sum1(a,b):
    c=a+b
    print(c)
    print("hello")
x=sum1(2,3)
print(x)
for y in x:
    print(y)

5
hello
None

TypeError: 'NoneType' object is not iterable

In [11]:
def sum1(a,b):
    c=a+b
    print(c)
    print("hello")
    yield "hii1"
    yield "hii2"
    yield "hii3"
x=sum1(2,3)
print(x)
for y in x:
    print(y)

<generator object sum1 at 0x00000143761D4790>
5
hello
hii1
hii2
hii3

In [13]:
def sum1(a,b):
    c=a+b
    print(c)
    print("hello")
    yield "hii1"
    yield "hii2"
    yield "hii3"
x=sum1(2,3)
print(next(x))
print(next(x))
print(next(x))
print(next(x))

5
hello
hii1
hii2
hii3

StopIteration:

In [21]:
def sum1(a,b):
    c=a+b
    print(c)
    print("hello")
    yield "hii1"
    yield "hii2"
    return "hello1"
    yield "hii3"
x=sum1(2,3)
print(next(x))
print(next(x))
print(next(x))

5
hello
hii1
hii2

StopIteration: hello1

In [23]:
def sum1(a,b):
    c=a+b
    print(c)
    print("hello")
    yield "hii1"
    yield "hii2"
    return "hello1"
    yield "hii3"
x=sum1(2,3)
print(x)

<generator object sum1 at 0x0000014376239D80>

In [31]:
x=20
def scope1():
    x=30 
scope1()
print(x)

20

In [37]:
y=20
def scope1():
    z=50 
scope1()
print(z)
print(y)

NameError: name 'z' is not defined

In [41]:
y=20
def scope1():
    z=50 
    return z
z = scope1()
print(z)
print(y)

50
20

In [43]:
x=20
x=40
def scope1():
    x=30 
scope1()
print(x)

40

In [45]:
y=20
def scope1():
    b=50 
    return b
scope1()
print(b)
print(y)

NameError: name 'b' is not defined

In [53]:
def square1(x):
    return x*x
square1(2)
list1 = [5,8,34,7]
print(map(square1, list1))
x = list(map(square1,list1))
print(x)

<map object at 0x000001437566BC40>
[25, 64, 1156, 49]

In [57]:
def square1(x):
    return x*x
square1(2)
list1 = [5,8,34,7]
print(map(square1,range(1,10)))
x = list(map(square1,range(1,10)))
print(x)

<map object at 0x00000143753B2770>
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [61]:
def square1(x):
    return x*x
square1(2)
list1 = [5,8,34,7]

x = list(map(square1,range(1,10)))
print(x)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [63]:
import math as m
def square1(x):
    return x*x
square1(2),
list1 = [5,8,34,7]
print(m.sqrt(10))
x = list(map(m.sqrt,range(1,10)))
print(x)

3.1622776601683795
[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0]

In [67]:
print(dir(m))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'sumprod', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [81]:
print(m.log(50))
print(m.log10(50))
print(m.exp(5))
print(m.pow(3,6))
print(m.lcm(10,5))
print(m.factorial(5))
print(m.pi)

3.912023005428146
1.6989700043360187
148.4131591025766
729.0
10
120
3.141592653589793

In [85]:
def sum1(n):
    return n%2==0
print(sum1(10))
print(sum1(11))

True
False

In [95]:
def sum1(n):
    return n%2==0
list1 = [10,11,12,13,14,16,17]
print(list(filter(sum1,list1)))

[10, 12, 14, 16]

In [101]:
def sum1(n):
    return 0
list1 = [10,11,12,13,14,16,17]
print(list(filter(sum1,list1)))

[]

In [105]:
def sum1(n):
    return 4
list1 = [10,11,12,14,15,16,17]
print(list(filter(sum1,list1)))

[10, 11, 12, 14, 15, 16, 17]

In [107]:
def sum1(n):
    return n%2==0
list1 = [10,11,12,13,14,15,16]
print(list(filter(square1,list1)))

[10, 12, 14, 16]

In [1]:
def cube1(x):
    return x*x*x
cube1(5)
list1 = [5,8,34,7]
print(map(cube1, list1))
x = list(map(cube1,list1))
print(x)

<map object at 0x000001FBE996E560>
[125, 512, 39304, 343]

In [9]:
def square(x):
    return x*x*x
print(square(2))

8

In [17]:
def square(x):
    return x*x*x
print(square(2))
list1 = [10,20,30,40,50,60,]
print(map(square, list1))
print(list(map(square, list1)))

8
<map object at 0x000001FBECB653F0>
[1000, 8000, 27000, 64000, 125000, 216000]

In [31]:
print(list(map(m.sqrt, list1)))

[3.1622776601683795, 4.47213595499958, 5.477225575051661, 6.324555320336759, 7.0710678118654755, 7.745966692414834]

In [33]:
def square(x):
    return x*x*x
print(square(2))
list1 = [10,20,30,40,50,60,]
print(map(square,range(1,10)))
print(list(map(square,range(1,10))))

8
<map object at 0x000001FBECB67340>
[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [29]:
import math as m
dir(m)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [25]:
print(m.log(10))
print(m.log10(10))
print(m.sqrt(10))

2.302585092994046
1.0
3.1622776601683795

In [35]:
def sum1(x):
    return x
list1 = [1,2,3,4,5,6,7,8]
print(list(filter(sum1,list1)))

[1, 2, 3, 4, 5, 6, 7, 8]

In [39]:
def sum1(x):
    return x%2==0
list1 = [1,2,3,4,5,6,7,8]
print(list(filter(sum1,list1)))

[2, 4, 6, 8]

In [45]:
x = lambda y : y * y
print(x)

<function <lambda> at 0x000001FBEC94B240>

In [51]:
x = lambda y : y * y
print(x(2))
print(x(3))

4
9

In [53]:
x = lambda z : y * y
print(x(2))
print(x(3))

NameError: name 'y' is not defined

In [57]:
x = lambda y,z : y+z
print(x(2))
print(x(3))

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [61]:
x = lambda y,z : y+z
print(x(2,5))

7

In [65]:
x = lambda y,z : y if y > z else z
print(x(2,5))

5

In [77]:
list1 = [10,20,30,40,50,60]
print(list(map(lambda x: x*x, list1)))

[100, 400, 900, 1600, 2500, 3600]

In [79]:
list1 = [10,20,30,40,50,60]
print(list(filter(lambda x: x*x, list1)))

[10, 20, 30, 40, 50, 60]

In [83]:
list1 = [10,20,33,40,50,60]
print(list(filter(lambda x: x%2==0, list1)))

[10, 20, 40, 50, 60]

In [99]:
import functools as ft
list1= [1,2,4,5]
print(ft.reduce(lambda a, b: a*b, list1))

40

In [101]:
import functools as ft
list1= [1,2,4,5]
print(ft.reduce(lambda a, b: a+b, list1))

12

In [103]:
import functools as ft
list1= [1,2,4,5]
print(ft.reduce(lambda a, b: a if a>b else b, list1))

5

In [2]:
x=lambda x,y,z : x if x>y and x>z  else y if y>z else z
print(x)

<function <lambda> at 0x000002464CB43240>

In [7]:
a=2=3
print(a)

SyntaxError: cannot assign to literal (2638253844.py, line 1)

In [13]:
a=2==5
print(a)
print(type(a))

False
<class 'bool'>

In [17]:
a=2
a=print(a)
print(a)
print(type(a))

2
None
<class 'NoneType'>

In [19]:
a=10
a += 10
print(a)

20

In [21]:
a=10
a /= 2
print(a)

5.0

In [23]:
a=10
a /= 2
print(a)
a=10
a //= 2
print(a)

5.0
5

In [25]:
a=10
b=20
c=a<b
print(c)

True

In [29]:
c = a<10 and b<10
print(c)
print(type(c))

False
<class 'bool'>

In [31]:
c = a<10 or b<10 and a<5
print(c)
print(type(c))

False
<class 'bool'>

In [33]:
c= a<50 and b<10 or a<20
print(c)
print(type(c))

True
<class 'bool'>

In [35]:
c = a<5 or b<50 and a<50
print(c)
print(type(c))

True
<class 'bool'>

In [37]:
c = not a
print(c)
print(type(c))
c = not c
print(c)
print(type(c))

False
<class 'bool'>
True
<class 'bool'>

In [39]:
a=50
c = not a
print(c)
print(type(c))
c = not c
print(c)
print(type(c))

False
<class 'bool'>
True
<class 'bool'>

In [41]:
a=0
c = not a
print(c)
print(type(c))
c = not c
print(c)
print(type(c))

True
<class 'bool'>
False
<class 'bool'>

In [51]:
a = [1,2]
b = [1,2]
c = a
print(a is b)
print(a is c)
print(a==b)
print(a)
print(b)
print(c)

False
True
True
[1, 2]
[1, 2]
[1, 2]

In [49]:
a = 5
b = 5
c = a
print(a is b)
print(a is c)
print(a==b)
print(a)
print(b)
print(c)

True
True
True
5
5
5

In [53]:
x=3
y=3
print(x is y)

True

In [55]:
x = 3
y = [1,2,3,4,5,6]
z = x not in y
print(z)

False

In [57]:
x = [3,4]
y = [1,2,3,4,5,6]
z = x in y
print(z)

False

In [65]:
a=10
b=20
print(a & b)

0

In [67]:
a=13
b=13
print(a & b)

13

In [69]:
a=13
b=12
print(a & b)

12

In [71]:
a=100
b=200
print(a & b)

64

In [77]:
a=100
b=200
print(a | b)

236

In [79]:
a=100
b=200
print(a^b)

172

In [20]:
a=10
print(a<<1)
a=10
print(a>>1)

20
5

In [33]:
rows = 5
x = [0] * rows
print(x)

[0, 0, 0, 0, 0]

In [30]:
rows, col = (5,5)
x = [[0] * col] * rows
print(x)

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [26]:
list1 = [0 for x in range(rows)]
print(list1)
rows, col = (4,5)
list2 = [[0 for x in range(rows)] for j in range(col)]
print(list2)

[0, 0, 0, 0]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [23]:
list1 = [0 for x in range(rows)]
print(list1)
rows, col = (4,5)
list2 = [[0 for x in range(rows)] for j in range(col)]
print(list2)

[0, 0, 0, 0, 0]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [18]:
rows, col = [5,5]
list1 = [[0]* col]* rows
print(list1)
list2 = [[0 for x in range(rows)] for j in range(col)]
print(list2)
list1[0][0] = 1
list2[0][0] = 1
print(list1)
print(list2)
print(list1[0] is list1[1])
print(list2[0] is list2[1])
list2[1][0] = 3
print(list1[0][0] is list1[0][1])
print(list2[1][0] is list2[1][1])
print(list2)
list1[1][0] = 2
print(list1)

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
[[1, 0, 0, 0, 0], [1, 0, 0, 0, 0], [1, 0, 0, 0, 0], [1, 0, 0, 0, 0], [1, 0, 0, 0, 0]]
[[1, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
True
False
False
False
[[1, 0, 0, 0, 0], [3, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
[[2, 0, 0, 0, 0], [2, 0, 0, 0, 0], [2, 0, 0, 0, 0], [2, 0, 0, 0, 0], [2, 0, 0, 0, 0]]

In [15]:
rows = 5
list1 = [0]* rows
print(list1)
list2 = [0 for x in range(rows)]
print(list2)
list1[0] = 1
list2[0] = 1
print(list1)
print(list2)
print(list1[0] is list1[1])
print(list2[0] is list2[1])

[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[1, 0, 0, 0, 0]
[1, 0, 0, 0, 0]
False
False

In [12]:
rows, col = 5,5
list1 = [[9 for x in range(rows)] for j in range(col)]
print(list1)
list2 = [[9 for x in range(rows)] for j in range(col)]
print(list2)
list1[1][2] = 3
list2[4][0] = 4
print(list1)
print(list2)

[[9, 9, 9, 9, 9], [9, 9, 9, 9, 9], [9, 9, 9, 9, 9], [9, 9, 9, 9, 9], [9, 9, 9, 9, 9]]
[[9, 9, 9, 9, 9], [9, 9, 9, 9, 9], [9, 9, 9, 9, 9], [9, 9, 9, 9, 9], [9, 9, 9, 9, 9]]
[[9, 9, 9, 9, 9], [9, 9, 3, 9, 9], [9, 9, 9, 9, 9], [9, 9, 9, 9, 9], [9, 9, 9, 9, 9]]
[[9, 9, 9, 9, 9], [9, 9, 9, 9, 9], [9, 9, 9, 9, 9], [9, 9, 9, 9, 9], [4, 9, 9, 9, 9]]

In [9]:
rows, col = 5,5
list1 = [[24 for x in range(rows)] for j in range(col)]

print (list1)

sum1 = 0
for i in list1:
    for j in i:
        sum1 += j
print(sum1)

[[24, 24, 24, 24, 24], [24, 24, 24, 24, 24], [24, 24, 24, 24, 24], [24, 24, 24, 24, 24], [24, 24, 24, 24, 24]]
600

In [3]:
rows = 2
cols = 3
sum = 0
list1 = [[1,2,3], [7,9,2]]
for x in rows:
    for y in cols:
        print(list[x][y])
print(sum)

TypeError: 'int' object is not iterable

In [5]:
rows = 2
cols = 3
sum = 0
list1 = [[1,2,3], [7,9,2]]
for x in range(rows):
    for y in range(cols):
        sum += list1[x][y]
        print(list1[x][y])
print(sum)

1
2
3
7
9
2
24

In [44]:
m,n = 3,3
list1 = [[1,2,3],[4,5,6],[7,8,9]]
print(list1)
sum2 = 0
for x in range(m):
    sum1 = 0
    for y in range(n):
        print(list1[x][y], end=" ")
        sum1 = sum1 + list1[x][y]
        sum2 += list1[x][y]
    print(sum1)
print("total sum", sum2)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
1 2 3 6
4 5 6 15
7 8 9 24
total sum 45

In [84]:
m,n = 3,3
list1 = [[1,2,3],[4,5,6],[7,8,9]]
list2=[]
print(list1)
for x in range(m):
    sum1 = 0
    for y in range(n):
        print(list1[x][y], end =" ")
        sum1 += list1[y][x]
    list2.append(sum1)
    print()
for x in list2:
    print(x, end=" ")

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
1 2 3
4 5 6
7 8 9
12 15 18

In [112]:
m,n = 3,3
list1 = [[1,2,3],[4,5,6],[7,8,9]]
list2 = [[2,4,6],[3,9,10],[15,20,30]]
for x in range(m):
    sum1 = 0 
    for y in range(n):
        print(list1[x][y], end = " ")
    print()
print()
for x in range(m):
    sum2 = 0
    for y in range(n):
        print(list2[x][y], end= " ")
    print()
print() 
for x in range(m):
    for y in range(n):
        print(list1[x][y] + list2[x][y], end = " ")
    print()

1 2 3
4 5 6
7 8 9

2 4 6
3 9 10
15 20 30

3 6 9
7 14 16
22 28 39

In [7]:
rows=int(input("enter the no. of rows"))
columns=int(input("enter the no. of columns"))
a = []
print("enter the rows wise values")
for x in range(rows):
    b = []
    for y in range(columns):
        b.append(int(input()))
    a.append(b)
for x in range(rows):
    for y in range(columns):
        print(a[x][y], end=" ")
    print()

enter the no. of rows 2
enter the no. of columns 2

enter the rows wise values

 1
 2
 3
 4

1 2
3 4

In [9]:
rows_a=int(input("enter the no. of rows for matrix A"))
columns_a=int(input("enter the no. of columns for matrix A"))
a = []
print("enter the rows wise values")
for x in range(rows_a):
    d = []
    for y in range(columns_a):
        d.append(int(input()))
    a.append(d)
for x in range(rows_a):
    for y in range(columns_a):
        print(a[x][y], end=" ")
    print()
rows_b=int(input("enter the no. of rows for matrix B"))
columns_b=int(input("enter the no. of columns for matrix B"))
b = []
print("enter the rows wise values")
for x in range(rows_b):
    d = []
    for y in range(columns_b):
        d.append(int(input()))
    b.append(d)
for x in range(rows_b):
    for y in range(columns_b):
        print(b[x][y], end=" ")
    print()
c = [[0 for x in range(columns_b)] for y in range(rows_a)]
for x in range(rows_a):
    for y in range(columns_b):
        for z in range(columns_a):
            c[x][y] += a[x][z] * b[z][y]
print("multiplication of matrix")
for x in range(rows_a):
    for y in range(columns_b):
        print(c[x][y], end=" ")
    print()

enter the no. of rows for matrix A 2
enter the no. of columns for matrix A 2

enter the rows wise values

 1
 2
 3
 4

1 2
3 4

enter the no. of rows for matrix B 2
enter the no. of columns for matrix B 2

enter the rows wise values

 5
 6
 7
 8

5 6
7 8
multiplication of matrix
19 22
43 50

In [1]:
c=[0 for x in range(5)]
c[0]=0
print(c[0] is c[0])

True

In [5]:
c=[0 for x in range(5)]
c[0]=1
print(c[0] is c[1])

False

In [7]:
c=[0 for x in range(5)]
c[0]=1
print(c[3] is c[1])

True

In [13]:
a=2
b=2
c=a
print(a==b)
print(a is b)
print(a is c)

True
True
True

In [16]:
c = [[0 for x in range(5)]for y in range(3)]
print(c)

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [18]:
c = [x for x in range(5)]
print(c)
c = [x*2 for x in range(4)]
print(c)

[0, 1, 2, 3, 4]
[0, 2, 4, 6]

In [20]:
c = [x for x in range(5)]
print(c)
c = [x*2 for x in range(5)]
print(c)
c = x*2 for x in range(5)
print(c)

SyntaxError: invalid syntax (298305850.py, line 5)

In [27]:
rows_a=int(input("enter the no. of rows for matrix A"))
columns_a=int(input("enter the no. of columns for matrix A"))
a = []
print("enter the rows wise values")
for x in range(rows_a):
    d = []
    for y in range(columns_a):
        d.append(int(input()))
    a.append(d)
for x in range(rows_a):
    for y in range(columns_a):
        print(a[x][y], end=" ")
    print()
rows_b=int(input("enter the no. of rows for matrix B"))
columns_b=int(input("enter the no. of columns for matrix B"))
b = []
print("enter the rows wise values")
for x in range(rows_b):
    d = []
    for y in range(columns_b):
        d.append(int(input()))
    b.append(d)
for x in range(rows_b):
    for y in range(columns_b):
        print(b[x][y], end=" ")
    print()
c = [[0 for x in range(columns_b)] for y in range(rows_a)]
for x in range(rows_a):
    for y in range(columns_b):
        for z in range(columns_a):
            c[x][y] = a[x][y] + b[x][y]
print("addition of matrix")
for x in range(rows_a):
    for y in range(columns_b):
        print(c[x][y], end=" ")
    print()

enter the no. of rows for matrix A 2
enter the no. of columns for matrix A 2

enter the rows wise values

 1
 2
 3
 4

1 2
3 4

enter the no. of rows for matrix B 2
enter the no. of columns for matrix B 2

enter the rows wise values

 5
 6
 7
 8

5 6
7 8
addition of matrix
6 8
10 12

In [29]:
rows_a=int(input("enter the no. of rows for matrix A"))
columns_a=int(input("enter the no. of columns for matrix A"))
a = []
print("enter the rows wise values")
for x in range(rows_a):
    d = []
    for y in range(columns_a):
        d.append(int(input()))
    a.append(d)
for x in range(rows_a):
    for y in range(columns_a):
        print(a[x][y], end=" ")
    print()
rows_b=int(input("enter the no. of rows for matrix B"))
columns_b=int(input("enter the no. of columns for matrix B"))
b = []
print("enter the rows wise values")
for x in range(rows_b):
    d = []
    for y in range(columns_b):
        d.append(int(input()))
    b.append(d)
for x in range(rows_b):
    for y in range(columns_b):
        print(b[x][y], end=" ")
    print()
c = [[0 for x in range(columns_b)] for y in range(rows_a)]
for x in range(rows_a):
    for y in range(columns_b):
        for z in range(columns_a):
            c[x][y] = a[x][y] - b[x][y]
print("subtraction of matrix")
for x in range(rows_a):
    for y in range(columns_b):
        print(c[x][y], end=" ")
    print()

enter the no. of rows for matrix A 2
enter the no. of columns for matrix A 2

enter the rows wise values

 1
 2
 3
 4

1 2
3 4

enter the no. of rows for matrix B 2
enter the no. of columns for matrix B 2

enter the rows wise values

 5
 6
 7
 8

5 6
7 8
subtraction of matrix
-4 -4
-4 -4

In [35]:
rows_a=int(input("enter the no. of rows for matrix A"))
columns_a=int(input("enter the no. of columns for matrix A"))
a = []
print("enter the rows wise values")
for x in range(rows_a):
    d = []
    for y in range(columns_a):
        d.append(int(input()))
    a.append(d)
for x in range(rows_a):
    for y in range(columns_a):
        print(a[x][y], end=" ")
    print()
sum1=0
for x in range(rows_a):
    for y in range(columns_a):
        if x==y:
            sum1+=a[x][y]
print(sum1)

enter the no. of rows for matrix A 3
enter the no. of columns for matrix A 3

enter the rows wise values

 1
 2
 3
 4
 5
 6
 7
 8
 9

1 2 3
4 5 6
7 8 9
15

In [49]:
rows_a=int(input("enter the no. of rows for matrix A"))
columns_a=int(input("enter the no. of columns for matrix A"))
a = []
print("enter the rows wise values")
for x in range(rows_a):
    d = []
    for y in range(columns_a):
        d.append(int(input()))
    a.append(d)
for x in range(rows_a):
    for y in range(columns_a):
        print(a[x][y], end=" ")
    print()
sum1=0
for x in range(rows_a):
    for y in range(columns_a):
        if x==y or x+y==columns_a-1:
            sum1+=a[x][y]
print(sum1)

enter the no. of rows for matrix A 3
enter the no. of columns for matrix A 3

enter the rows wise values

 1
 2
 3
 4
 5
 6
 7
 8
 9

1 2 3
4 5 6
7 8 9
25

In [9]:
string1 = 'he is good boy'
print(string1)
print(type(string1))
string2 = "he is good boy"
print(string2)
print(type(string2))
string3 = '''hello how are you'''
print(string3)
print(type(string3))
string4 = '''hello
how
are you'''
print(string4)
print(type(string4))

he is good boy
<class 'str'>
he is good boy
<class 'str'>
hello how are you
<class 'str'>
hello
how
are you
<class 'str'>

In [11]:
string1 = 'he is \t good boy'
print(string1)
print(type(string1))
string2 = "he is \n good boy"
print(string2)
print(type(string2))

he is 	 good boy
<class 'str'>
he is
 good boy
<class 'str'>

In [19]:
string1 = 'he is good boy'
print(string1)
string2 = "how are you"
print(string2)
print(string1 +string2)

he is good boy
how are you
he is good boyhow are you

In [25]:
string1 = '2'
print(string1)
string2 = "3"
print(string2)
print(string1 + string2)

2
3
23

In [27]:
str1 = "hella"
print(str1[::-1])

alleh

In [29]:
str1 = "hello how are you"
print(str1[::-1])
str2 = str1[::-1]
print(str2)

uoy era woh olleh
uoy era woh olleh

In [33]:
str1 = "hello how are you"
print(str1[::-1])
str2 = str1[::-1]
print(str2)
str3 = str1.split()
print(str3)
print(type(str3))

uoy era woh olleh
uoy era woh olleh
['hello', 'how', 'are', 'you']
<class 'list'>

In [41]:
str1 = "hello,how,are,you"
str3 = str1.split(',',1)
print(str3)
print(len(str3))

['hello', 'how,are,you']
2

In [43]:
str1 = "hello,how,are,you"
str3 = str1.split(',',2)
print(str3)
print(len(str3))

['hello', 'how', 'are,you']
3

In [45]:
str1 = "hello,how,are,you"
str3 = str1.split(',',10)
print(str3)
print(len(str3))

['hello', 'how', 'are', 'you']
4

In [53]:
x=str(input("enter your string"))
list1 = x.split()
print(list1[::-1])

enter your string how are you

['you', 'are', 'how']

In [70]:
str1 = input()
str2 = str1.split()
print(str1[::-1])
print(str2[::-1])
str3 = ' '.join(str2[::-1])
print(str3)
print(type(str3))

 you are aamazing

gnizamaa era uoy
['aamazing', 'are', 'you']
aamazing are you
<class 'str'>

In [9]:
string1 = input().split()
string2 = input().split()
string3 = []
l1,l2 = len(string1), len(string2)
for x in range(min(l1,l2)):
    string3.append(string1[x])
    string3.append(string2[x])
if l1<l2:
    string3.extend(string2[l1: ])
else:
    string3.extend(string1[l2: ])
print(string3)
string3 = ' '.join(string3[ : ])
print(string3)

 He is good boy
 Ram is very hardworking and intelligent

['He', 'Ram', 'is', 'is', 'good', 'very', 'boy', 'hardworking', 'and', 'intelligent']
He Ram is is good very boy hardworking and intelligent

In [15]:
characters = []
digits = []
word = input("Enter a word: ")
for char in word:
    if char.isdigit():
        digits.append(char)
    elif char.isalpha():
        characters.append(char)
print("Characters:", ''.join(characters))
print("Digits:", ''.join(digits))

Enter a word:  58vburj8jfren

Characters: vburjjfren
Digits: 588

In [29]:
str1 = input()
c = []
d = []
for x in str1:
    if x.isdigit():
        d.append(x)
    if x.isalpha():
        c.append(x)
str2= "".join(sorted(d[:]))
str3 = "".join(sorted(c[:]))
print(str2+str3)

 734dbfbe

347bbdef

In [1]:
str1 = input()
c=[]
d=[]
a=[]

for x in str1:
    if x.isdigit():
        d.append(x)
    elif x.isalpha():
        c.append(x)
    elif x.isascii():
        a.append(x)
str2= ''.join(sorted(d[:]))
str3 = ''.join(sorted(c[:]))
str4 = ''.join(a[:])
print(str2+str3+str4)

 in12

12in

In [23]:
list1 = [1,2,3]
print(list1)
tuple1 = (1,2,3)
print(tuple1)
list2 = list((1,2,3))
print(list2)
list3 = [0 for x in range(10)]
print(list3)
tuple2 = tuple((1,2,3,2))
print(tuple2)
set1 = {1,2,3,4}
print(set1)
set2 = set((1,2,3,3,4,5,True))
print(set2)
set3 = set((2,3,3,4,True,False))
print(set3)

[1, 2, 3]
(1, 2, 3)
[1, 2, 3]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
(1, 2, 3, 2)
{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{False, True, 2, 3, 4}

In [27]:
str1 = input("name1")
str2 = input("name2")
str3 = input("name3")
str4 = input("name4")
str5 = input("name5")
set1 = {name.lower() for name in {str1, str2, str3, str4, str5}}
print(set1)

name1 Bhawna
name2 bhawna
name3 Aneesh
name4 Diya
name5 ram

{'aneesh', 'ram', 'bhawna', 'diya'}

In [33]:
def count_unique_names(names):
    name_list = names.split()
    lower_name = [name.lower() for name in name_list]
    unique_names = set(lower_name)
    return len(unique_names)
print(count_unique_names(input()))

 hello Ram ram Sham sham SHam

3

In [52]:
tuple1 = (1,2,3,"hello")
print(tuple1)
tuple2 = tuple((1,2,3,2,"Ram",3.5))
print(tuple2)
print(type(tuple2))
print(tuple2[1:3])
print(tuple2[1:])
list1 = list(tuple2)
print(list1)
list1[3]=10
tuple2 = tuple(list1)
print(tuple2)
tuple2 += tuple1
print(tuple2)
tuple3 = tuple1 + tuple2
print(tuple3)
for x in tuple2:
    print(x)

(1, 2, 3, 'hello')
(1, 2, 3, 2, 'Ram', 3.5)
<class 'tuple'>
(2, 3)
(2, 3, 2, 'Ram', 3.5)
[1, 2, 3, 2, 'Ram', 3.5]
(1, 2, 3, 10, 'Ram', 3.5)
(1, 2, 3, 10, 'Ram', 3.5, 1, 2, 3, 'hello')
(1, 2, 3, 'hello', 1, 2, 3, 10, 'Ram', 3.5, 1, 2, 3, 'hello')
1
2
3
10
Ram
3.5
1
2
3
hello

In [54]:
tuple2 = tuple((1,2,3,2,"Ram",3.5))
print(tuple2)
del tuple2
print(tuple2)

(1, 2, 3, 2, 'Ram', 3.5)

NameError: name 'tuple2' is not defined

In [58]:
tuple2 = tuple((1,2,3,2,"Ram",2,2,3.5))
print(tuple2.count(2))
print(tuple2.index(2))

4
1

In [8]:
set1 = {1,2,3,4,5,6,7,8}
set2 = {2,5,7,3,1, "hii"}
list1 = [10,20,10]
print(set1)
print(set2)
set1.add('hello')
print(set1)
set1.update(set2)
print(set1)
set1.update(list1)
print(set1)
for x in set1:
    print(x)
print(2 in set1)
set1.discard(1)
print(set1)
set1.pop()
print(set1)
set1.clear()
print(set1)
del set1
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 5, 7, 'hii'}
{1, 2, 3, 4, 5, 6, 7, 8, 'hello'}
{1, 2, 3, 4, 5, 6, 7, 8, 'hello', 'hii'}
{1, 2, 3, 4, 5, 6, 7, 8, 'hello', 10, 20, 'hii'}
1
2
3
4
5
6
7
8
hello
10
20
hii
True
{2, 3, 4, 5, 6, 7, 8, 'hello', 10, 20, 'hii'}
{3, 4, 5, 6, 7, 8, 'hello', 10, 20, 'hii'}
set()

NameError: name 'set1' is not defined

In [4]:
def input_names_starts_with_vowels(names):
    vowels = ('a', 'e', 'i', 'o', 'u')
    name_list = names.split()
    lower_name = [name.lower() for name in name_list]
    unique_names = set(lower_name)
    names_starting_with_vowels = {name for name in unique_names if name.startswith(vowels)}
    return names_starting_with_vowels

print(input_names_starts_with_vowels(input()))

 Ojas ojas ram

{'ojas'}

In [12]:
def count_names(names):
    names_list = names.split()
    names_final = [name for name in names_list if name[0:1].lower() in ('a','e','i','o','u')]
    name_set = set(names_final)
    return len(name_set)
print(count_names(input()))

 apple Apple papaya

2

In [22]:
set1 = {1,2,3,4,5,True}
print(set1)
print(set1[1])

{1, 2, 3, 4, 5}

TypeError: 'set' object is not subscriptable

In [26]:
set1 = {1,2,3,4,5,True}
print(set1)
print(len(set1))
for x in set1:
    print(x)
print(2 in set1)

{1, 2, 3, 4, 5}
5
1
2
3
4
5
True

In [28]:
set1 = {1,2,3,4,5,True}
print(set1)
set1.add("hello")
print(set1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 'hello'}

In [32]:
set1 = {1,2,3,4,5,True}
set2 = {9,10}
print(set1)
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 9, 10}

In [36]:
set1 = {1,2,3,4,5,True}
set2 = [9,10,10]
set1.update(set2)
print(set1)
set1.remove(2)
print(set1)

{1, 2, 3, 4, 5, 9, 10}
{1, 3, 4, 5, 9, 10}

In [46]:
set1 = {1,2,3,4,5,True}
set2 = [9,10,10]
set1.update(set2)
print(set1)
set1.discard(2)
print(set1)
set1.pop()
print(set1)
set1.clear()
print(set1)
del set1
print(set1)

{1, 2, 3, 4, 5, 9, 10}
{1, 3, 4, 5, 9, 10}
{3, 4, 5, 9, 10}
set()

NameError: name 'set1' is not defined

In [62]:
set1 = {1,2,3,4,5,True}
set2 = {6,2,7}
set3 = set1.union(set2)
print(set3)
set4 = set1.intersection(set2)
print(set4)
set5 = [6,9]
set6 = set1.union(set5)
print(set6)
set7 = set2.intersection(set5)
print(set7)
set8 = set1.difference(set2)
print(set8)
set1.intersection_update(set2)
print(set1)
set1.union_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7}
{2}
{1, 2, 3, 4, 5, 6, 9}
{6}
{1, 3, 4, 5}
{2}

AttributeError: 'set' object has no attribute 'union_update'

In [64]:
set1 = {1,2,3}
set2 = {3,4,5}
set3 = set1.symmetric_difference(set2)
print(set3)

{1, 2, 4, 5}

In [35]:
dict1 = {
    "name" : "xyz",
    "age" : 21,
    "gender" : "Female"
}
print(dict1)
dict2 = dict1.copy()
print(dict2)
dict3 = dict(dict1)
print(dict3)
print(dict1.keys())
print(dict1.values())
print(dict1.items())
dict1["section"]="G26"
print(dict1)
dict1.update({"grade":"A"})
print(dict1)
dict1.update({"grade":"B"})
print(dict1)
dict1["hobbies"] =["singing", "music", "cricket", "dancing"]
print(dict1)
dict1.pop("grade")
print(dict1)
dict1.popitem()
print(dict1)
del dict1["section"]
print(dict1)
del dict1
print(dict1)

{'name': 'xyz', 'age': 21, 'gender': 'Female'}
{'name': 'xyz', 'age': 21, 'gender': 'Female'}
{'name': 'xyz', 'age': 21, 'gender': 'Female'}
dict_keys(['name', 'age', 'gender'])
dict_values(['xyz', 21, 'Female'])
dict_items([('name', 'xyz'), ('age', 21), ('gender', 'Female')])
{'name': 'xyz', 'age': 21, 'gender': 'Female', 'section': 'G26'}
{'name': 'xyz', 'age': 21, 'gender': 'Female', 'section': 'G26', 'grade': 'A'}
{'name': 'xyz', 'age': 21, 'gender': 'Female', 'section': 'G26', 'grade': 'B'}
{'name': 'xyz', 'age': 21, 'gender': 'Female', 'section': 'G26', 'grade': 'B', 'hobbies': ['singing', 'music', 'cricket', 'dancing']}
{'name': 'xyz', 'age': 21, 'gender': 'Female', 'section': 'G26', 'hobbies': ['singing', 'music', 'cricket', 'dancing']}
{'name': 'xyz', 'age': 21, 'gender': 'Female', 'section': 'G26'}
{'name': 'xyz', 'age': 21, 'gender': 'Female'}

NameError: name 'dict1' is not defined

In [37]:
dict1 = {
    "name" : "xyz",
    "age" : 21,
    "gender" : "Female"
}
dict1.clear()
print(dict1)

{}

In [39]:
dict1 = {
    "ABC" : 10,
    "XYZ" : 20,
    "PQR" : 50,
    "UVW" : 70,
    "IJK" : 95,
}
for x in dict1:
    print(x)

ABC
XYZ
PQR
UVW
IJK

In [47]:
student1 = {
    "ram" : 50,
    "shyam" : 60,
    "xyz" : 70,
    "abc" : 40
}
for x in student1:
    print(x)
for x in student1:
    print(student1[x])
for x in student1.keys():
    print(x)
for x in student1.values():
    print(x)
for x in student1.items():
    print(x)

ram
shyam
xyz
abc
50
60
70
40
ram
shyam
xyz
abc
50
60
70
40
('ram', 50)
('shyam', 60)
('xyz', 70)
('abc', 40)

In [57]:
student1 = {
    "ram" : 30,
    "shyam" : 60,
    "xyz" : 70,
    "abc" : 10
}
for x in student1:
    student1[x] += 10
    if student1[x] > 50:
        print(x)

shyam
xyz

In [59]:
student1 = {
    "ram" : 30,
    "shyam" : 60,
    "xyz" : 70,
    "abc" : 10
}
for x in student1:
    student1[x] += 10
print(student1)

{'ram': 40, 'shyam': 70, 'xyz': 80, 'abc': 20}

In [73]:
store1 = {
    "laptop" : 40,
    "cell phone" : 50,
    "tablet" : 30
}
store2 = {
    "mouse" : 70,
    "laptop" : 30,
    "tablet" : 20,
}
for x in store2.keys():
    if x in store1.keys():
         store1[x]+=store2[x]
    else:
        store1.update({x:store2[x]})
print(store1)

{'laptop': 70, 'cell phone': 50, 'tablet': 50, 'mouse': 70}

In [79]:
a = {
    "laptop" : 40,
    "cell phone" : 50,
    "tablet" : 30
}
b = {
    "mouse" : 70,
    "laptop" : 30,
    "tablet" : 20,
}
c = a.copy()
for x,y in b.items():
    if x in c:
        c[x]+=y
    else:
        c[x]=y
print(c)

{'laptop': 70, 'cell phone': 50, 'tablet': 50, 'mouse': 70}

In [1]:
sdt1 = {
    "name" : "ram",
    "age" : 30
}
sdt2 = {
    "name" : "shyam",
    "age" : 40
}
sdt = {
    "sdt1" : sdt1,
    "sdt2" : sdt2
}
print(sdt)

{'sdt1': {'name': 'ram', 'age': 30}, 'sdt2': {'name': 'shyam', 'age': 40}}

In [5]:
p1 = {
    "name" : "abc",
    "age" : 14,
}
p2 = {
    "name" : "xyz",
    "age" : 20,
}
p3 = {
    "name" : "uvw",
    "age" : 55,
}
p4 = {
    "name" : "pqr",
    "age" : 46,
}
p5 = {
    "name" : "mno",
    "age" : 18,
}
p={
    "p1" : p1,
    "p2" : p2,
    "p3" : p3,
    "p4" : p4,
    "p5" : p5
}
for x,y in p.items():
    print(x)
    for z in y:
        print(z, " ", y[z])

p1
name   abc
age   14
p2
name   xyz
age   20
p3
name   uvw
age   55
p4
name   pqr
age   46
p5
name   mno
age   18